### YamlMime:Yaml
ms.openlocfilehash: e8e0c0487370439eb50ee376aa05769b8455f241
ms.sourcegitcommit: 57d343a6c7c2aa43c9f007d7823891d2141eb471
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 07/01/2021
ms.locfileid: "113169687"
trigger:
- '*'
pool:
  vmImage: ubuntu-20.04
  demands:
  - npm
variables:
  buildConfiguration: Release
steps:
- task: UseDotNet@2
  displayName: Use .NET SDK 5.x
  inputs:
    packageType: sdk
    version: 5.x
- task: Npm@1
  displayName: Run npm install
  inputs:
